@{
    ViewBag.Title = "Home Page";
}

<style>
    table, th, td {
        border: 1px solid black;
    }
    h2 {
        color:forestgreen;
        font-family:Futura;
    }
    h3 {
        color:darkolivegreen;
        font-family:Futura;
    }
</style>
<h2 style="align-content: center"> Trees for the future </h2>
<h3 style="align-content:center"> Helping solve Sustainable Development Goal 15 </h3>
<hr />
<div class="row">
    <div class="table-responsive col-md-6">
<table style="font-family:Futura">
    <tr>
        <th style="align-content:center">
            System Name: Trees for the Future
        </th>
    </tr>
    <tr>
        <td>  Author: Sameer Ghela </td>
        <td>  Date: 2022/08/19 </td>
        <td>  Version: 1.0.0 </td>
    </tr>
    <tr>
        <td>  Use case name  </td>
        <td>  EcoPlan   </td>
        <td>  USE CASE TYPE </td>
    </tr>
    <tr>
        <td>  Use case id  </td>
        <td>   1.1 </td>
        <td>  Business requirements:  </td>
    </tr>
    <tr>
        <td>  Priority:  </td>
        <td>  High  </td>
        <td>  System Analysis: Yes </td>
    </tr>
    <tr>
        <td>  Source:  </td>
        <td>  Case Study  </td>
        <td>  System Design: </td>
    </tr>
    <tr>
        <td>  Primary Business Actor </td>
        <td>  User  </td>
    </tr>
    <tr>
        <td>  Primary System Actor </td>
        <td>   n/a </td>
    </tr>
    <tr>
        <td>  Other Participating Actors:  </td>
        <td>  n/a  </td>
    </tr>
    <tr>
        <td>  Other Interested Stakeholders:  </td>
        <td>   n/a </td>
    </tr>
    <tr>
        <td>  Description:  </td>
        <td>  The user will click on the ecoplan tab on the navigation bar and will be redirected to the ecoplan view where they can view plans for them.  </td>
    </tr>
    <tr>
        <td>  Pre-condition: </td>
        <td>  User wants to acces eco plans </td>
    </tr>
    <tr>
        <td> Trigger  </td>
        <td>  User clicks on the EcoPlan tab  </td>
    </tr>

</table>
       </div>
<div class="table-responsive col-md-6">
<table style="font-family:Futura">
    <tr>
        <th style="align-content:center">
            System Name: Trees for the Future
        </th>
    </tr>
    <tr>
        <td>  Author: Sameer Ghela </td>
        <td>  Date:  Date: 2022/08/19 </td>
        <td>  Version: 1.0.0 </td>
    </tr>
    <tr>
        <td>  Use case name  </td>
        <td>   About </td>
        <td>  USE CASE TYPE </td>
    </tr>
    <tr>
        <td>  Use case id  </td>
        <td>   1.2 </td>
        <td>  Business requirements:  </td>
    </tr>
    <tr>
        <td>  Priority:  </td>
        <td>  High  </td>
        <td>  System Analysis: Yes </td>
    </tr>
    <tr>
        <td>  Source:  </td>
        <td>  Case Study  </td>
        <td>  System Design: </td>
    </tr>
    <tr>
        <td>  Primary Business Actor </td>
        <td>  User  </td>
    </tr>
    <tr>
        <td>  Primary System Actor </td>
        <td>  n/a  </td>
    </tr>
    <tr>
        <td>  Other Participating Actors:  </td>
        <td>  n/a  </td>
    </tr>
    <tr>
        <td>  Other Interested Stakeholders:  </td>
        <td>  n/a  </td>
    </tr>
    <tr>
        <td>  Description:  </td>
        <td>  The user will click on the about tab in the navigation bar and will be redirected to a page where the user can find out more about the organisation.  </td>
    </tr>
    <tr>
        <td>  Pre-condition: </td>
        <td>  User wants to go to the about page  </td>
    </tr>
    <tr>
        <td> Trigger  </td>
        <td>  The user clicks on the about page  </td>
    </tr>

</table>
    </div>
    </div>
<hr />
<div class="row">
    <div class="table-responsive col-md-6">
        <table style="font-family:Futura">
            <tr>
                <th style="align-content:center">
                    System Name: Trees for the Future
                </th>
            </tr>
            <tr>
                <td>  Author: Sameer Ghela </td>
                <td>  Date:  Date: 2022/08/19 </td>
                <td>  Version: 1.0.0 </td>
            </tr>
            <tr>
                <td>  Use case name  </td>
                <td>  Contact  </td>
                <td>  USE CASE TYPE </td>
            </tr>
            <tr>
                <td>  Use case id  </td>
                <td>   1.3 </td>
                <td>  Business requirements:  </td>
            </tr>
            <tr>
                <td>  Priority:  </td>
                <td>  High  </td>
                <td>  System Analysis: Yes</td>
            </tr>
            <tr>
                <td>  Source:  </td>
                <td>  Case Study  </td>
                <td>  System Design: </td>
            </tr>
            <tr>
                <td>  Primary Business Actor </td>
                <td>  User  </td>
            </tr>
            <tr>
                <td>  Primary System Actor </td>
                <td>  n/a  </td>
            </tr>
            <tr>
                <td>  Other Participating Actors:  </td>
                <td>  n/a  </td>
            </tr>
            <tr>
                <td>  Other Interested Stakeholders:  </td>
                <td>  n/a  </td>
            </tr>
            <tr>
                <td>  Description:  </td>
                <td>  The user will click on the contact tab in the navigation bar and will be redirected to a page where the user can find out  the organisations contact details. </td>
            </tr>
            <tr>
                <td>  Pre-condition: </td>
                <td>  User wants to access the contact details of the organisation.  </td>
            </tr>
            <tr>
                <td> Trigger  </td>
                <td>  The user clicks on the contact tab  </td>
            </tr>

        </table>
    </div>
    <div class="table-responsive col-md-6">
        <table style="font-family:Futura">
            <tr>
                <th style="align-content:center">
                    System Name: Trees for the Future
                </th>
            </tr>
            <tr>
                <td>  Author: Sameer Ghela </td>
                <td>  Date:  Date: 2022/08/19 </td>
                <td>  Version: 1.0.0 </td>
            </tr>
            <tr>
                <td>  Use case name  </td>
                <td>  Plans  </td>
                <td>  USE CASE TYPE </td>
            </tr>
            <tr>
                <td>  Use case id  </td>
                <td>   1.4 </td>
                <td>  Business requirements:  </td>
            </tr>
            <tr>
                <td>  Priority:  </td>
                <td>  High  </td>
                <td>  System Analysis: Yes </td>
            </tr>
            <tr>
                <td>  Source:  </td>
                <td>  Case Study  </td>
                <td>  System Design: </td>
            </tr>
            <tr>
                <td>  Primary Business Actor </td>
                <td>  User  </td>
            </tr>
            <tr>
                <td>  Primary System Actor </td>
                <td>  n/a  </td>
            </tr>
            <tr>
                <td>  Other Participating Actors:  </td>
                <td>  n/a  </td>
            </tr>
            <tr>
                <td>  Other Interested Stakeholders:  </td>
                <td>  n/a  </td>
            </tr>
            <tr>
                <td>  Description:  </td>
                <td>  After the user has navigated to the ecoplan tab should the user want to find a list of ways to be more environmentally friendly they can click the scoplan button 
                and be redirected to the plan tab which contains this information.</td>
            </tr>
            <tr>
                <td>  Pre-condition: </td>
                <td>  User wants to find out more about ecoplans.  </td>
            </tr>
            <tr>
                <td> Trigger  </td>
                <td>  User clicks on the ecoplan button on the ecoplan tab </td>
            </tr>

        </table>
    </div>
</div>
<hr />
<img src="~/images/class structure.jpeg" />